block section
  section.center.filter-hide
    .filter-mobile
      ul#yacht-size-mobile
        li#filter-yacht
          //- div.container-img
          //-   img.yacht(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
          h2 Yacht
          p
            != __('min24')
          block button1
            a#small.button(href="#")!= __('select')
        li#filter-super-yacht
          //- div.container-img
          //-   img.super-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Super Yacht')
          h2 Super Yacht
          p
            != __('24to40')
          block button2
            a#super.button(href="#")!= __('select')
        li#filter-mega-yacht
          //- div.container-img
          //-   img.mega-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
          h2 Mega Yacht
          p
            != __('plus40')
          block button3
            a#mega.button(href="#")!= __('select')
      .clear
      #slider-single
    .filter-monitor
        ul#yacht-size.filter
          li
            //- div.container-img
            //-   img.yacht(src='../images/sprite/icon_select_yacht.svg', alt='Yacht')
            h2 Yacht
            p
              != __('min24')
            block button1
              a#small.button(href="#")!= __('select')
          li
            //- div.container-img
            //-   img.super-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Super Yacht')
            h2 Super Yacht
            p
              != __('24to40')
            block button2
              a#super.button(href="#")!= __('select')
          li
            //- div.container-img
            //-   img.mega-yacht(src='../images/sprite/icon_select_yacht.svg', alt='Mega Yacht')
            h2 Mega Yacht
            p
              != __('plus40')
            block button3
              a#mega.button(href="#")!= __('select')
