div(id="enquire-modal", style="display:none;")
    .logo
      img(src='../images/sprite/logo.svg', alt='Equinoxe-Logo')
    .clear
    form.form-horizontal#enquire_form
      fieldset
        // Text input
        .control-group.name
          label.control-label(for='textinput')!= __('Name')
          .controls
            input#textinput.enquire_name.input-xlarge(name='textinput', type='text', placeholder='', required='')
            
        // Text input
        .control-group.surname
          label.control-label(for='textinput')!= __('Surname')
          .controls
            input#textinput.enquire_surname.input-xlarge(name='textinput', type='text', placeholder='', required='')
          
        // Multiple Checkboxes
        .control-group.checkboxes
          label.control-label(for='checkboxes')!= __('Service')
          .controls
            label.checkbox(for='checkboxes-0')
              input#checkboxes-0(type='checkbox', name='checkboxes', value='Yacht Charter')
              != __('Service_01')
            label.checkbox(for='checkboxes-1')
              input#checkboxes-1(type='checkbox', name='checkboxes', value='Yacht Sale')
              != __('Service_02')
            label.checkbox(for='checkboxes-2')
              input#checkboxes-2(type='checkbox', name='checkboxes', value='Yacht Purchase')
              != __('Service_03')
            label.checkbox(for='checkboxes-3')
              input#checkboxes-3(type='checkbox', name='checkboxes', value='Expeditions')
              != __('Service_04')
            label.checkbox(for='checkboxes-4')
              input#checkboxes-4(type='checkbox', name='checkboxes', value='Bareboat')
              != __('Service_05')
            label.checkbox(for='checkboxes-5')
              input#checkboxes-5(type='checkbox', name='checkboxes', value='Land and Services')
              != __('Service_06')
        // Text input
        .control-group.phonenum
          label.enquire_phone.control-label(for='textinput')!= __('Phonenum')
          .controls
            input#textinput.enquire-phone.input-xlarge(name='textinput', type='phone', placeholder='', required='')
            
        // Text input
        .control-group.mail
          label.control-label(for='textinput') Email
          .controls
            input#textinput.enquire_email.input-xlarge(name='textinput', type='email', placeholder='', required='')
           
        // Textarea
        .control-group.text-area
          label.control-label(for='textarea')!= __('Message')
          .controls
            textarea#textarea.enquire_msg(placeholder='!= __("yrmsg")',name='textarea').
        <!-- Button -->
        .control-group.submit
          #mandrill-response
            #response-true
              p
                != __('msg_success')
            #response-false
              p
                != __('msg_fail')
          .controls
            input#submit-form(type="submit" value="!= __('Submit')")
    
    .form-contacts
      h4 != __('direct_info') 
      ul
        li.bold Equinoxe s.r.l.
        li 
          span.bold!= __('phone')
          a(href="tel:00390118185211") +39 011 8185211
        li 
          span.bold Fax 
          | +39 011 8185221
        li 
          span.bold!= __('address') 
          | Via dei Mille, 18 - 10123 Torino, Italy
        li
          span.bold Mail
          a(href="mailto:yachts@equinoxe.it")  yachts@equinoxe.it
