block section
  div.main-photo
    block main-photo
      
      if data.yacht.cover.filename
        div(class="img-holder-scroll", data-image="/uploads/images/yachts/covers/"+data.yacht.cover.filename, alt=data.yacht.cover.filename)
      else 
        div(class="img-holder-scroll", data-image="/images/sprite/placeholder_cover.png", alt="placeholder")
    
    section.center
      div#plain-color-background
        div#container-other-specs
          .main-text  
            h1#ombra 
              block title
                = data.yacht.name
          .clear
          ul#single-yacht-specs
            if data.yacht.availability == "Charter"
              if data.yacht["price per week from"]
                li
                  span
                    != __('syp_charterprice')
                  = numeralFunction(data.yacht["price per week from"]).format('0,0[.]00' )+data.yacht.currency
                      
              if data.yacht.lenght
                li
                  span
                    != __('length')
                  block single-yacht-length
                    = data.yacht.lenght+"m"
              if data.yacht.build || data.yacht.refit 
                li
                  if data.yacht.refit && data.yacht.build
                    span
                      != __('built')
                    = data.yacht.build+" / refit "+data.yacht.refit
                  else
                      if data.yacht.refit
                        span
                          | != __('refit')
                        = data.yacht.refit
                      else if data.yacht.build
                        span
                          != __('built')
                        = data.yacht.build 
              if data.yacht.guests
                li
                  span
                    != __('guests')
                  block single-yacht-guests
                    = data.yacht.guests


            if data.yacht.availability == "Sale"
              if data.yacht.lenght
                li
                  span
                    != __('length')
                  block single-yacht-length
                    = data.yacht.lenght+"m"
              if data.yacht.build || data.yacht.refit 
                li
                  if data.yacht.refit && data.yacht.build
                    span
                      != __('built')
                    = data.yacht.build+" / refit "+data.yacht.refit
                  else
                      if data.yacht.refit
                        span
                          != __('refit')
                        = data.yacht.refit
                      else if data.yacht.build
                        span
                          != __('built')
                        = data.yacht.build 
              if data.yacht.builder
                li
                  span
                    != __('builder')
                  block single-yacht-builder
                    = data.yacht.builder

              if data.yacht.price
                li
                  if data.yacht.price
                    span
                      != __('Sale_price')
                    = numeralFunction(data.yacht.price).format('0,0[.]00' )+data.yacht.currency

            if data.yacht["message/offers"]
              li.offer-message#single-msg
                = data.yacht["message/offers"]

            



          block explain-call
            p.call-to-action

          .clear
          block call-to-action
            if data.yacht.availability == "Charter"
              a.button(href="#contact-us-modal", rel="modal:open")!= __('ENQUIRE')

            if data.yacht.availability == "Sale"
              a.button(href="#contact-us-modal", rel="modal:open")!= __('syp_fullspec')
          .clear
          
          a.back-to-yachts(href="/yachts/#{data.yacht.availability}")
            i.fa.fa-chevron-left
            != __('syp_back2y')


    
    #gallery1
      #back-arrow.arrow
      #next-arrow.arrow
      #slides1.owl-carousel.owl-theme
        each slide in data.yacht.sortedGalleries
          if slide.img.filename
            - var src = encodeURIComponent(slide.img.filename).replace(/\(/g, '%28').replace(/\)/g, '%29')
            .img(style='background-image: url(/uploads/images/yachts/galleries/'+src+')')
          
            
    section.center
      div#plain-color-background-2
        div#container-other-specs-2
            div#other-specs
              ul.other-specs-list
                if data.yacht.builder || data.yacht.model || data.yacht.designer || data.yacht.build ||  data.yacht.refit || data.yacht.beam || data.yacht.lenght || data.yacht.draft || data.yacht.displacement || data.yacht.engine || data.yacht["crusing speed"] || data.yacht.consumption
                  h3
                    != __('exp_specs')
                if data.yacht.builder
                  li
                    span
                      != __('builder')
                    =data.yacht.builder
                if data.yacht.model
                  li
                    span
                      != __('model')
                    =data.yacht.model  
                if data.yacht.designer
                  li
                    span
                      != __('designer')
                    =data.yacht.designer
                if data.yacht.build || data.yacht.refit 
                  li
                    if data.yacht.refit && data.yacht.build
                      span
                        != __('built')
                      = data.yacht.build+" / refit "+data.yacht.refit
                    else
                        if data.yacht.refit
                          span
                            != __('refit')
                          = data.yacht.refit
                        else if data.yacht.build
                          span
                            != __('built')
                          = data.yacht.build 
                if data.yacht.lenght
                  li
                    span
                      != __('length')
                    block single-yacht-length
                      = data.yacht.lenght+"m"
                if data.yacht.beam
                  li
                    span
                      != __('beam')
                    =data.yacht.beam
                if data.yacht.draft
                  li
                    span
                      != __('draft')
                    =data.yacht.draft
                if data.yacht.displacement
                  li
                    span
                      != __('displacement')
                    =data.yacht.displacement
                if data.yacht.engine
                  li
                    span
                      != __('engines')
                    
                    =data.yacht.engine
                if data.yacht.consumption
                  li
                    span
                      != __('Fuelconsumption')
                    =data.yacht.consumption
                if data.yacht["crusing speed"]
                  li
                    span
                      != __('speed')
                    =data.yacht["crusing speed"]

                
              ul.other-specs-list
                if data.yacht.cabins || data.yacht["guests cabins"] || data.yacht.guests || data.yacht["crew cabins"] || data.yacht.crew
                  h3
                    | 
                if data.yacht.availability == "Charter"
                  if data.yacht.cabins
                    li
                      span
                        != __('cabins')
                       =data.yacht.cabins
                if data.yacht.availability == "Sale"
                  if data.yacht["guests cabins"]
                    li
                      span
                        != __('gcabins')
                       =data.yacht["guests cabins"]
                if data.yacht.guests
                  li
                    span
                      != __('totguest')
                     =data.yacht.guests
                
                
                if data.yacht.availability == "Sale"
                  if data.yacht["crew cabins"]
                    li
                      span
                        != __('ccabins')
                       =data.yacht["crew cabins"]
                if data.yacht.crew
                  li
                    span
                      != __('totcrew')
                     =data.yacht.crew


              ul.other-specs-list
                if data.yacht.location    
                  li
                    span
                      != __('locationy')
                    =data.yacht.location
                if data.yacht.availability == "Charter"
                  if data.yacht["price per week from"]
                    li
                      span
                        != __('price1')
                      = numeralFunction(data.yacht["price per week from"]).format('0,0[.]00' )+data.yacht.currency
                
                  if data.yacht["price per week low season"]
                    li
                      span
                        != __('price2')
                      = numeralFunction(data.yacht["price per week low season"]).format('0,0[.]00' )+data.yacht.currency

                  if data.yacht["price per week high season"]
                    li
                      span
                        != __('price3')
                      = numeralFunction(data.yacht["price per week high season"]).format('0,0[.]00' )+data.yacht.currency
                if data.yacht.availability == "Sale"

                  if data.yacht.price
                    li
                      if data.yacht.price
                        span
                          != __('price4')
                        = numeralFunction(data.yacht.price).format('0,0[.]00' )+data.yacht.currency
                if data.yacht.flag
                  li
                    span
                      != __('flag')
                    =data.yacht.flag
                if data.yacht.vat
                  li
                    span
                      != __('VAT')
                    =data.yacht.vat
                
                li
                  block single-yacht-pdf
                    a.button(href="/generated/pdf/lite/"+data.yacht.slug+".pdf", target="_blank")
                      i.fa.fa-file-pdf-o
                      |  PDF
                li.hidden.availability
                  =data.yacht.availability 

            div#other-description
              if data.yacht.content.description
                div.description-info
                  - var lang=getLocale()
                  if lang == "it"
                    if data.yacht.content.descrizione
                      !=data.yacht.content.descrizione
                    else
                      !=data.yacht.content.description
                  else 
                    !=data.yacht.content.description
              div.description-info
                if lang == "it"
                  if data.yacht.content["sport acquatici"]
                    h2 Sport Acquatici
                    !=data.yacht.content["sport acquatici"]
                  else
                    if data.yacht.content["water sports"]
                      h2 Water Sports
                    !=data.yacht.content["water sports"]
                else 
                  if data.yacht.content["water sports"]
                    h2 Water Sports
                  !=data.yacht.content["water sports"]
                
                if data.yacht.availability == "Charter"
                  a.button(href="#contact-us-modal", rel="modal:open")!= __('ENQUIRE')

                if data.yacht.availability == "Sale"
                  a.button(href="#contact-us-modal", rel="modal:open")!= __('syp_fullspec')
    
div.gradient-top
